/*
  Name:
  File
  Date:
  Description
*/
html {
  background-color: white;
}

body {
  font: 1.2em / 1.5 system-ui;
}
/*
Box styles
*/
body{
  padding: 20px;
  width: 500px;
  background-color: #efefef;
  margin: 0 auto;
}
ul{
  background-color: white;
  border-color: purple;
  border-style: solid;
  border-width: 5px;
  /* border: 5px solid purple; */
  padding: 30px;
  border-radius: 20px;
}